[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pygobject = "*"
pycairo = "*"
pygobject-stubs = "*"
pyte = "*"
vte = "*"
py-cpuinfo = "*"

[dev-packages]

[requires]
python_version = "3.9"
